<!DOCTYPE html>
<html>
<head>
  <title>Harmony</title>
  <link rel="apple-touch-icon" sizes="180x180" href="favicon1/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon1/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon1/favicon-16x16.png">
<link rel="manifest" href="favicon1/site.webmanifest">
  <link rel="stylesheet" type="text/css"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/d7d7ee6600.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">

  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Josefin+Sans:ital,wght@0,300;0,400;1,600&family=Langar&family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}


* {
box-sizing: border-box;
}

body, html {
height: 100%;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

* {
box-sizing: border-box;
}


.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-right: 150px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  margin-top: 20px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  color: #39363a;
}

.white{
  color: white;
}

body {
  margin-top: 0px;
 margin-bottom: 50px;
 margin-right: 50px;
 margin-left: 50px;
 height: 100%;
 background: linear-gradient(180deg, #39363a 0%, #c2bfbe 35%, #fafffe 100%);

     
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;

  }
  .ml14 .line {
  opacity: 0;
  position: absolute;
  
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform-origin: 100% 100%;
 
}

.ml14 .letter {
  display: inline-block;
  line-height: 1em;
}

</style>
<link rel="stylesheet" href="css/styles.css">
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class = "navbar-brand" src="images/logo.png" alt="logo" style="height: 10%;">
        <h3 style="color: white;font-size: 2em;  font-family: 'Josefin Sans', sans-serif; 
      ">HARMONY</h3>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li ><a href="/">HOME</a></li>
          <li ><a href="/">ABOUT</a></li>
          <li class="active"><a href="/view">VIEW</a></li>
          <li ><a href="/money-transfer">TRANSFER</a></li>
          <li><a href="/history">TRANSACTION HISTORY</a></li>
          <li><a href="#footer">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <h1 class="ml14">
    <span class="text-wrapper">
      <span class="letters" 
      >WELCOME TO OUR BANK</span>
      <span class="line"></span>
    </span>
    
  </h1>
<!-- <h1 class="text-center white " style="color: white;  font-family: 'Josefin Sans', sans-serif; 
">WELCOME TO OUR BANK</h1> -->



<div class="pt-4 pb-4 pl-4 pr-4">
  <span class="border border-5">
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col" class = "white"><h3>
            CUSTOMER DETAILS
            <small class="text-muted h6 white">Click to expand</small>
          </h3></th>
        </tr>
      </thead>
      <%  newPeople.forEach(function(item){ %>
        <tbody>
          <tr>
            <td>
            <button type="button" class="collapsible"> <%= item.name %> </button>
            <div class="content">
              <p>
                E-mail: <%= item.email %> <br>
                Balance: <%= item.currentBalance %><br>
              </p>
            </div>

           </td>
           </tr>
          </tbody>
      <%  })  %>
    </table>
    </span>
   </div>

<br>
<br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script type="text/javascript">
  var textWrapper = document.querySelector('.ml14 .letters');
  textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

  anime.timeline({loop: true})
    .add({
      targets: '.ml14 .line',
      scaleX: [0,1],
      opacity: [0.5,1],
      easing: "easeInOutExpo",
      duration: 900
    }).add({
      targets: '.ml14 .letter',
      opacity: [0,1],
      translateX: [40,0],
      translateZ: 0,
      scaleX: [0.3, 1],
      easing: "easeOutExpo",
      duration: 800,
      offset: '-=600',
      delay: (el, i) => 150 + 25 * i
    }).add({
      targets: '.ml14',
      opacity: 0,
      duration: 1000,
      easing: "easeOutExpo",
      delay: 1000
    });


  </script>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>




</body>
<footer id="footer" style="background-color:#39363a;">
  <div class="row">
    <div class="row">
      <div class="column">
        <h5>Address</h5>
        <p>D.No 9-2-11<br>ABC Street<br>NY 400213</p>
      </div>
      <div class="column">
        <h5>Working Hours</h5>
        <p>Monday to Friday : 10am to 6pm<br>
          Saturday : 10am to 2pm</p>
      </div>
      <div class="column">
        <h5>Phone Numbers</h5>
        <p>+91 9632587410<br>+91 1236547890<br>+91 7896321450</p>
      </div>
      <div class="column">
        <h5>Email</h5>
        <p>harmony@gmail.com</p>
      </div>
    </div>
    </div>


  <hr>

  <p id="copyright">&copy; All Rights Reserved</p>
  <div class="icons">
    <ul style="display:inline-flex;">
      <li><i class="fa fa-facebook-f"></i></li>
      <li> <i class="fa fa-twitter"></i></li>
      <li> <i class="fa fa-instagram"></i></li>


    </ul>

  </div>
</footer>
</html>
